.pageLogin{
    height:100vh;
}
.login{

    height: 100%;
    align-content: center;
    background-image: url('https://www.techrepublic.com/a/hub/i/r/2021/02/05/2c503225-0fb7-447f-8f34-facda0dc4472/resize/1200x/cda20270e6cc67f471f748edf15cba0f/smash-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    .card_login{
    position: relative;
    height: 370px;
    margin-top: 100px;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    box-shadow: 10px 10px 5px 0px rgba(217, 243, 125, 0.75);
    }
    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #e00d7a;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    margin-top:15px;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #e00d7a;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: rgb(255, 255, 255);
    background-color: #e00d7a;
    transition: all 0.4s ease;
    }
    
    .login_btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }