.movie_item{
  
    background:#f18720;
    border:none;
    outline:none;
    font-weight: 900;
    position: relative;
    &:hover {
        .movie_item__detail{
            display: block;
            opacity: 1;
            top: 0;
        }  
    }
    &__detail{
        // display: none;
        position: absolute;
        top: -300px;
        // top:0;
        z-index: 2;
        height:300px;
        background: rgba(0, 0, 0,0.7);
        color:white;
        font-size:16px;
        font-weight:300;
        padding:20px;
        transition:all 0.5s ease-in-out;
        opacity:1;

        &__btn{
            text-emphasis: none;
            color:white;
            border:none;
            outline:none;
            padding:3px 5px;
            border-radius:20px;
            background:orange;
            // transition:all 0.3s ease-in-out;     
            &:hover{
                border:none;
                outline:none;
                text-emphasis: none;
                color:rgb(231, 12, 12);
                font-weight: bold;
            }
        }
        &__bottom{
            padding:25px 0 5px 0;
            &__btn{
                font-size:23px;
                margin:2px;
                background: #f37520;
                border-radius:20px 0px 20px;
                // transition:all 0.1s ease-in-out;
                &__trailer{
                    background:#e00d7a;
                 
                    &:hover{
                        color:white;
                        text-decoration: none;
                        list-style: none;
                    }
                }
            }
        }
    }
}
@media (max-width:1326px) {
 .movie_item__detail{
     padding:3px;
     font-size: 15px;
     &__btn{
        padding:2px 5px;
     }
     &__bottom{
        padding:20px 0 5px 0;
       
        &__btn{
            font-size:23px;
            margin:1px;
        }
     }
 
 }
}
@media (max-width:1124px) {
 .movie_item__detail{
    padding:2px;
    font-size: 15px;
    &__btn{
       padding:2px 5px;
    }
    &__bottom{
       padding:20px 0 5px 0;
      
       &__btn{
           font-size:20px;
           margin:1px;
       }
    }

 
 }
}
@media (max-width:920px) {
    .movie_item__detail{
        padding:1px;
        font-size: 13px;
        &__btn{
           padding:1px 3px;
        }
        &__bottom{
           padding:20px 0 5px 0;
          
           &__btn{
               font-size:18px;
               margin:1px;
           }
        }
    
     
     }
}
@media (max-width:640px) {
    .movie_item__detail{
        padding:1px;
        font-size: 14px;
        &__btn{
           padding:2px 4px;
        }
        &__bottom{
           padding:20px 0 5px 0;
          
           &__btn{
               font-size:18px;
               margin:1px;
           }
        }
    
     
     }
}